src/main/resources/xsd/order_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://www.example.com/order"
           targetNamespace="http://www.example.com/order"
           elementFormDefault="qualified">

    <!-- LINE ITEM Record Type (Child) -->
    <xs:complexType name="LineItemType">
        <xs:sequence>
            <xs:element name="lineItemId" type="xs:string"/>
            <xs:element name="productId" type="xs:string"/>
            <xs:element name="productName" type="xs:string" minOccurs="0"/>
            <xs:element name="quantity" type="xs:integer" minOccurs="0"/>
            <xs:element name="unitPrice" type="xs:decimal" minOccurs="0"/>
            <xs:element name="lineAmount" type="xs:decimal" minOccurs="0"/>
            <xs:element name="status" type="xs:string" minOccurs="0" default="ACTIVE"/>
        </xs:sequence>
    </xs:complexType>

    <!-- ORDER Record Type (Parent) with nested LineItems -->
    <xs:complexType name="OrderType">
        <xs:sequence>
            <xs:element name="orderId" type="xs:string"/>
            <xs:element name="orderNumber" type="xs:string"/>
            <xs:element name="orderAmount" type="xs:decimal" minOccurs="0"/>
            <xs:element name="orderDate" type="xs:string" minOccurs="0"/>
            <xs:element name="customerId" type="xs:string" minOccurs="0"/>
            <xs:element name="customerName" type="xs:string" minOccurs="0"/>
            <xs:element name="status" type="xs:string" minOccurs="0" default="ACTIVE"/>
            
            <!-- Nested LineItems container -->
            <xs:element name="lineItems" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="lineItem" type="tns:LineItemType" 
                                   minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- Root Element - Orders Interface -->
    <xs:element name="orderInterface">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="orders" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="order" type="tns:OrderType" 
                                       minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="totalRecords" type="xs:integer" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="order" type="tns:OrderType"/>

</xs:schema>
